{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>{{ pageTitle }}</h1>

    <ul>
    	{% if entries %}
        {% for entry in entries %}
            <li>
                <a class="anchorEdit" href="{% url 'pageEdit' entry %}">Edit</a>&nbsp;&nbsp;&nbsp;
                <a href="{% url 'pageShow' entry %}">{{ entry }}</a>
            </li>
        {% endfor %}
        {% else %}
            <h2>Not found</h2>
        {% endif %}
    </ul>
{% endblock %}